.project-card {
	height: 100px;
	width: 380px;
	border-radius: 10px;
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	border: 1px solid #D8DBE5;
}

.project-card-logo {
	padding: 20px;
}

.project-card-infos {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	gap: 10px;
}

.project-card-infos__title {
	color: black;
	font-weight: bold;
	font-size: 18px;
}

.project-card-infos-state {
	display: flex;
	align-items: center;
	gap: 10px;
}

.project-card-infos-state__status{
	color: black;
	font-size: 12px;
}