
.not-found-container {
    width: 100%;
    display: flex;
    align-items: center;

    .not-found__img-container {
        img {
            width: 100%;
        }
    }

    .not-found__text-container {
        min-width:320px;
        padding: 5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        border: 2px solid $lightLavender;
        background: $darkBlue;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;

        .not-found__title {
            color: $lightLavender;
            font-size: 44px;
            font-weight: 600;
            margin: 20px 0;
        }
        p {
            margin: 10px 0;
            color: $lightLavender;
            font-size: 18px;
            font-weight: 400;
            text-align: center;
        }

        a{
            cursor: pointer;
            padding: 10px 30px;
            margin: 10px;
            border-radius: 10px;
            color: $lightLavender;
            background-color: $darkpink;
            transition: background-color 0.3s ease-in, color 0.3s ease-in;

            &:hover {
                color: $darkBlue;
                background-color: $darkLavender;
            }
        }
    }
}

