.grayBackground{
    height: 200px;
    width: 470px;
    background-color: #F2F3F7;
    position:absolute;
    left: 35%;
    padding: 20px;
    z-index: 2;
    border-radius: 15px;
}

.grayBackgroundSecond{
    height: 270px;
    width: 470px;
    background-color: #F2F3F7;
    position:absolute;
    left: 35%;
    padding: 20px;
    z-index: 2;
}

.addFile{
    color: transparent;
    height: 100px;
    width: 140px;
    margin-right: 56%;
    opacity: 0; 
    z-index: 2;
    position: relative;
    top: 15px;
    left: -24px;
}

.addRushButtonSecondVersion{
    position: relative;
    top: -85px;
    background-color: #C2C2C2;
    height: 100px;
    width: 140px;
    padding-top: 25px;
    z-index: 1;
}

.addRushButtonSecondVersion:hover, .addFile:hover{
   cursor: pointer;
}

.titreVideo{
    padding-right: 94% !important;
}

.titreVideoInput{
    position: relative;
    right: 119px;
    top: 9px;
    border: 1px solid white;
    border-radius: 5px;
    height: 25px;
    width: 200px;
}

.labelAddSound {
    padding-right: 62%;
    position: relative;
    top: -30px;
}

.submitButton {
    border-radius: 7px;
    position: relative;
    top: 44px;
    left: 116px;
    height: 26px;
    width: 100px;
    border: 1px solid black;
}

.submitButtonComment{
    border-radius: 7px;
    position: relative;
    top: 44px;
    height: 26px;
    width: 100px;
    border: 1px solid black;
}

.addRush{
    width: 180px;
    position: relative;
    right: 96px;
    opacity: 0;
    z-index: 2;
}

.importVideo {
    border-radius: 7px;
    position: relative;
    height: 35px;
    width: 140px;
    border: 1px solid black;
    z-index: 1;
}

.urlVideo {
    position: relative;
    right: 4px;
    top: 17px;
    border: 1px solid white;
    border-radius: 5px;
    height: 25px;
    width: 200px;
}

.addComment {
    background-color:#F2F3F7;
    height: 120px;
    width: 500px;
    margin-left: 50px;
    border-radius: 15px;
}

.addCommentInput {
    position: relative;
    right: 0px;
    top: 20px;
    border: 1px solid white;
    border-radius: 5px;
    height: 60px;
    width: 460px;
}
