.lightGreyContent{
    background-color: #F2F3F7;
    height: auto;
    width: 600px;
    border-radius: 10px;
    padding: 20px;
    z-index: 1;
}

.addRushAccordion {
    background-color: #E0E0E0;
    height: 30px;
    width: 200px;
    border-radius: 10px;
}

.addRushDiv{
    background-color: #E0E0E0;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 3%;
}

.addRushButton {
    background-color: #C2C2C2;
    height: 100px;
    width: 140px;
    padding-top: 25px;
}

.addRushButton:hover{
    cursor: pointer;
}

.addRushButtonLogo {
    height: 50px;
    width: 50px;
    position: relative;
    left: 41px;
}

.rightSide {
    margin-right: 1px;
}