.container{
    display: flex;
    justify-content: space-between;
}

.firstBlock{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 400px;
    padding: 15px;
}