.project-detail-background {
    margin-top: 120px;
    width: 800px;
    max-width: 800px;
    padding-right: 28px;
    padding-left: 14px;
}

h3 {
    padding-top: 15px;
    font-style: bold;
}

.project-detail-title {
    margin-bottom: 12px;
    margin-top: 16px;
    margin-right: 20px;
    background-color: #F2F3F7;
    color: black;
}

.tab-menu {
    position: absolute;
    left: 503px;
    top: 19px;
}

.edit-button {
    padding: 10px 0;
    display: flex;
    justify-content: flex-end;
}

.project-detail-instrument {
    color: darkgray;
}

.project-detail-section {
    width:746px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: white;
    border: 1px;
    border-radius: 5px;
}

.project-detail-section2-content {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.project-detail-section1-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.instrument {
    color: black;
}

.project-detail-description-section {
    display: flex;
    align-items: center;    margin-top: 32px;
    margin-bottom: 64px;
}

.editIcon {
    color:#263069;
    width: 32px;
    height: 32px;
}

.editIcon:hover {
    color: #364496;
}

.trophyIcon {
    margin-right: 16px;
}

.division {
    min-height: 10px;
    width: 720px;
    max-width: 936px;
    background-color: #F2F3F7;
    border-radius: 3px;
    margin-bottom: 64px;
}

.project-detail-title2 {
    margin-bottom: 72px;
}

.project-detail-stepper {
    max-width: 380px;
}

.project-detail-footer {
    padding: 0px 32px 16px 0px;
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.splitscreen {
    max-height: 850px;
    background-color: #F2F3F7;
    display: flex;
    flex-direction: row;
}

.leftSide {
    max-height: 850px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 55px;
    padding-left: 101px;
    margin-top: 161px;
    width: 41%;
}

.navbar {
    z-index: 1;
}

body {
    min-height: 0;
}