.project-detail-title {
    margin-bottom: 12px;
    margin-top: 16px;
    margin-right: 20px;
    background-color:  #F2F3F7;
    color: black;
}

.select-span {
    margin-right: 24px;
    margin-bottom: 50px;
    margin-top: 50px;
}

body {
    min-height: 0;
}