.project-detail-background {
    max-width: 800px;
    padding-right: 28px;
    padding-left: 14px;
}

.project-detail-title {
    margin-top: 16px;
    margin-right: 20px;
    background-color: #F2F3F7;
    color: black;
}

.tab-menu {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 24px;
}

.edit-button {
    padding: 10px 0;
    display: flex;
    justify-content: flex-end;
}

.project-detail-instrument {
    color: darkgray;
}

.project-detail-section {
    width:746px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: white;
    border: 1px;
    border-radius: 5px;
}

.project-detail-section2-content {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.project-detail-section1-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.instrument {
    color: black;
}

.project-detail-description-section {
    display: flex;
    align-items: center;    margin-top: 32px;
    margin-bottom: 64px;
}

.editIcon {
    width: 32px;
    height: 32px;
}

.trophyIcon {
    margin-right: 16px;
}

.division {
    min-height: 10px;
    width: 720px;
    max-width: 936px;
    background-color: #F2F3F7;
    border-radius: 3px;
    margin-bottom: 64px;
}

.project-detail-title2 {
    margin-bottom: 72px;
}

.project-detail-stepper {
    max-width: 380px;
}

.project-detail-footer {
    padding: 0px 32px 16px 0px;
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.splitscreen {
    background-color: #F2F3F7;
    display: flex;
    flex-direction: row;
}

.leftSide {
    padding-left: 10px;
    margin-top: 105px;
    width:50%;
}

body {
    min-height: 0;
}

.project-detail-planning-title {
    font-size: 30px;
    font-weight: bold;
    color: #263069;
}