@font-face {
    font-family: noto sans ;
    src: url("./fonts/NotoSans-Black.ttf") format("TrueType");
}
@font-face {
    font-family: noto sans bold ;
    src: url("./fonts/NotoSans-Bold.ttf") format("TrueType");
}
@font-face {
    font-family: noto sans light ;
    src: url("./fonts/NotoSans-Light.ttf") format("TrueType");
}
