/* Cette mixin est personnalisable dans vos stylesheet en scss
   Elle correspond à un composant à ajouter dans le html
   Position: vous pouvez surcharger en scss ou supprimer la class x-center-position dans le html via les props du composant flashMessage */
@mixin flashMessage($bg: $darkBlue, $text-color: $lightLavender ) {

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .output-message {
    z-index: 3;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 20px 30px;
    border: 1px solid white;
    border-radius: 10px;
    color: $text-color;
    background-color: $darkBlue;
    animation: fadeOut 5s ease-out forwards;
  }
  .x-center-position {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* Mixin pour créer vos scroll bar avec couleur personnalisable */

@mixin scrollbar($vertical_overflow: auto, $scroll-color: $darkpink) {
  overflow-y: $vertical_overflow;
  scrollbar-color: #aaa transparent;
  scrollbar-width: thin;



  &::-webkit-scrollbar {
    background: #fff;
    width: 5px;
    // top-right and bottom-right radius need to be the same as container border-radius
    border-radius: 0 10px 10px 0;
  }

  &::-webkit-scrollbar-thumb {
    background: $scroll-color;
    border-radius: 8px;
  }
}