/* Cette mixin est personnalisable dans vos stylesheet en scss
   Elle correspond à un composant à ajouter dans le html
   Position: vous pouvez surcharger en scss ou supprimer la class x-center-position dans le html via les props du composant flashMessage */
@mixin flashMessage($bg: $darkBlue, $text-color: $lightLavender ) {

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .output-message {
    z-index: 3;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 20px 30px;
    border: 1px solid white;
    border-radius: 10px;
    color: $text-color;
    background-color: $darkBlue;
    animation: fadeOut 3s ease-out forwards;
  }
  .x-center-position {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}